{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}" />
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>{% block titleblock %}{% endblock %}</title>
</head>

<body>
    <div id="navbar">
        
    </div>

    <div id="content" class="col-md-8 col-md-offset-2">
        {% block content %}{% endblock %}
    </div>
</body>
</html>